[Desktop Entry]
Version=1.0
Type=Application
Exec=/home/delamain/installed/pycharm-community-2021.2.3/bin/pycharm.sh
#Icon=org.xfce.terminalemulator
Icon=kali-powersploit
StartupNotify=true
Terminal=false
OnlyShowIn=XFCE;
X-AppStream-Ignore=True
Name=PyCharm
Name[en_GB]=PyCharm
Name[ru]=Запустить PyCharm
Comment=Use the PyCharm
Comment[ru]=Использовать PyCharm